    body{
        margin: 0;
    }
    
@font-face {
    font-family: 'BebasNeue-Regular';
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(fonts/Roboto-Medium.ttf);
}

.section-menubar{
    margin-right: 15%;
}

.menubar{
    display: flex;
    margin-left: 75%;
    text-decoration: none;
}

.menu-item{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-family: Roboto-Medium;
    text-decoration: none;
}

h1{
    font-family: BebasNeue-Regular;
    font-size: 70px;
}

.rob{
    font-family: BebasNeue-Regular;
    font-size: 70px;
    color: #FF8367;
    margin-top: -85px;
}

.hire-me{
    background-color: #FF8367;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
    font-family: Roboto-Medium;
}

.rb-details{
    text-align: justify;
    font-size: 30px;
    margin-top: -65px;
    margin-bottom: 50px;
    font-family: Roboto-Regular;
}

.section-rob{
    display: flex;
    margin-top: -50px;
}

.rb{
    width: 50%;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}
.rb img{
    width: 95%;
    padding-top: 120px;
}

.section-etc{
    margin-top: 80px;
    margin-left: 80px;
}

.email{
    padding-right: 30px;
    font-size: 30px;
}

.password{
    padding-right: 30px;
    font-size: 30px;
}

.checkbox{
    padding-right: 30px;
    font-size: 30px;
}

.sec002{
    display: flex;
    margin-top: -110px;
    margin-right: 50px;
}

.rb-2 img{
    width: 100%;
    float: left;
    margin-left: 80px;
    margin-top: 150px;
}

.rb-3{
    width: 100%;
    float: left;
    margin-right: 80px;
    margin-left: 100px;
    padding-left: 100px;
}

.about{
    margin-top: 110px;
}

.download-my-cv{
    background-color: #FF8367;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
    font-family: Roboto-Medium;
    margin-bottom: 100px;
}

.ft{
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    font-family: Roboto-Medium;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0;
    color: white;
    margin-right: 0;
    margin-left: 0;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}